.categories__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.categories {
    display: flex;
    gap: 20px;
    align-items: center;
    // justify-content: space-between;
    width: 370px;
    height: 129px;
    border: 1px solid black;

    img {
        padding-top: 22px;
        padding-right: 37px;
    }
}
.categories__text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    span {
        font-size: 23px;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 20px;
    }

    button {
        padding-left: 22px;
        color: #c4c4c4;
        text-align: start;
    }
}
