.traffics__wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.traffics {
    display: flex;
    gap: 20px;
    align-items: center;
    // justify-content: space-between;
    width: 370px;
    height: 129px;
    border: 1px solid #d7d6d6;
    cursor: pointer;
    transition:
        box-shadow 0.4s ease-in,
        border 0.4s ease-in,
        scale 0.4s;

    img {
        padding-top: 22px;
        padding-right: 37px;
    }

    // &:hover {
    //     border: 0px;
    //     box-shadow: 1px 11px 12px rgba(0, 0, 0, 0.2);
    //     scale: 0.9;
    // }
}
.traffics__text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    a {
        font-size: 23px;
        font-weight: 600;
        padding-top: 20px;
        padding-left: 20px;
    }

    button {
        padding-left: 22px;
        color: #c4c4c4;
        text-align: start;
    }
}
