.header {
    max-width: 1170px;
    position: relative;
    margin: 0 auto;
}

.nav {
    position: relative;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav__logo {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
}
.logo__text {
    color: gray;
}
.nav__list {
    display: flex;
    justify-content: space-between;

    gap: 20px;
}
.active {
    color: #f66d52;
}

a {
    display: inline-block;
    color: #f66d52; /* Цвет обычной ссылки */
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
}
a:after {
    background-color: #f66d52; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    margin-top: 10px;
}
a:hover:after,
a:focus:after {
    width: 100%;
}
