@tailwind base;
@tailwind components;
@tailwind utilities;

.emoji-404 {
	position: relative;
	animation: mymove 2.5s infinite;
}
@keyframes mymove {
	33% {
		top: 0px;
	}
	66% {
		top: 20px;
	}
	100% {
		top: 0px;
	}
}
.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	li {
		/* display: flex;
		flex-direction: c; */

		a {
			text-align: center;
			width: 45px;
			line-height: 42px;
			height: 45px;
			border: 1px solid rgb(51 65 85);
			border-radius: 30px;
			margin-right: 10px;
			cursor: pointer;
			display: inline-block;
			color: rgb(51 65 85);

			&:hover {
				background-color: rgb(203 213 225);
				color: rgb(51 65 85);
			}
			&:after {
				text-decoration: none;
			}
		}
	}

	/* :global { */
	.selected {
		a {
			background-color: rgb(203 213 225);
			color: #fff;
		}
	}
	/* } */
}
