@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	display: inline-block;
	/* color: #f66d52; Цвет обычной ссылки */
	line-height: 1;
	text-decoration: none; /* Убираем подчеркивание */
	cursor: pointer;
}
a:after {
	background-color: #f66d52; /* Цвет линии при наведении на нее курсора мыши */
	display: block;
	content: "";
	height: 2px; /* Высота линии */
	width: 0%;
	-webkit-transition: width 0.3s ease-in-out;
	-moz--transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	margin-top: 10px;
}
a:hover:after,
a:focus:after {
	width: 100%;
}
